* {
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://cdn.pixabay.com/photo/2018/11/01/15/55/mario-3788492__340.png");
  background-size: 100%;
  background-color: #111;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.alura-logo {
  width: 150px;
}

.git-logo {
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: white;
}

th,
tr,
td {
  border: solid 1px white;
  color: white;
}